*{
    font-family: 'DIN 1451 Std',sans-serif, monospace;
}

header {
    background-color: rgb(119, 21, 21);
    padding: 77px;

    display: grid;
    grid: 1fr / auto auto;

    align-items: center;

}

.banner-title {
    min-height: 500px;
    min-width: 500px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    background: url("/assets/images/about.jpg") center/cover no-repeat;
    background-size: 100%;

    border: 4px solid gray;
    border-radius: 10px;
}

.banner-title h1{
    color: yellow;

}

.banner-about {
    background-color: rgb(226, 225, 225);
    height: 66%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6% 1%;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.about-icons{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    padding-right: 40px;
}

.about-icons *{
    scale: 2;
}

main {
    padding: 77px;
}

.my-work-cards {
    display: grid;
    grid: auto-flow / repeat(3, minmax(200px,1fr));
    grid-auto-rows: 400px;
    gap: 33px;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

}

.card-image{
    overflow: hidden;
    flex: 0.7;
}

.card-details{
    padding: 0px 17px;
    padding-top: 10px;
    flex: 0.3;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-details-upper{
    display: flex;
    justify-content: space-between;
}

.card-icons{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 77px;
}


.card-icons a{
    display: block;
    width: 100%;
}

.card-icons a i{
    display: block;
    scale: 2;
}

.card-description{
    padding-top: 6px;
}

footer {
    display: flex;
    padding: 77px;
    background-color: brown;

    min-height: 400px;
}

.footer-info{
    flex:0.4;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-img{
    flex:0.6;
}